<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head_common", title: "Bundling" %>

  <%= render "layouts/main_stylesheets" %>
  <%= stylesheet_link_tag "bundling/application", media: "all" %>
  <%= stylesheet_link_tag "tom-select.css" %>
  <%= javascript_importmap_tags "bundling/application", importmap: Bundling.importmap %>

  <%= yield :head %>
</head>
<body>
  <div class="container mx-auto px-4 py-8 max-w-4xl">
    <%= yield %>
  </div>
</body>

</html>
