<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/head_common", title: "Morphing problems" %>

  <%= render "layouts/main_stylesheets" %>
  <%= stylesheet_link_tag "morphing/application", media: "all" %>
  <%= javascript_importmap_tags "morphing/application", importmap: Morphing.importmap %>

  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  <%= yield :head %>
</head>
<body>
  <nav class="bg-white shadow-sm">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <div class="flex space-x-8 items-center">
          <div class="flex-shrink-0 flex items-center">
            <%= link_to "Morphing problems demo", root_path, class: "text-lg font-semibold text-gray-900" %>
          </div>
          <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
            <%= link_to "Broken Example", broken_notes_path, class: "inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900 border-b-2 #{'border-indigo-500' if current_page?(morphing.broken_notes_path)}" %>

            <%= link_to "Working Example", notes_path, class: "inline-flex items-center px-1 pt-1 text-sm font-medium text-gray-900 border-b-2 #{'border-indigo-500' if current_page?(morphing.notes_path)}" %>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
