<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head_common", title: "Main" %>

    <%= render "layouts/main_stylesheets" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
